
{% if document_list %}
<div class="btn-group" style="text-align: left;">
  <a class="btn btn-default btn-{{ size }} dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="#">
    <i class="icon-inbox"></i> {{ document_list|length }} <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    {% for d in document_list %}
      <li>
        <a href="{{ d.get_absolute_url}}"><i class="{{ d.get_icon_class }}"></i> {{ d.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
