
{% if project_part_list %}
<div class="btn-group" style="text-align: left;">
  <a class="btn btn-default btn-{{ size }} dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="#">
    <i class="icon-cogs"></i> {{ project_part_list|length }} <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    {% for pp in project_part_list %}
      <li>
        <a href="{{ pp.get_absolute_url}}"><i class="{{ pp.get_icon_class }}"></i> {{ pp.name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
