
{% if web_source_list %}
<div class="btn-group" style="text-align: left;">
  <a class="btn btn-{{ size }} dropdown-toggle" style="font-weight: normal;" data-toggle="dropdown" data-hover="dropdown" href="#">
    <i class="icon-globe"></i> {{ web_source_list|length }} <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    {% for ws in web_source_list %}
      <li>
        <a href="{{ ws.url}}" target="_blank"><i class="{{ ws.get_icon_class }}"></i> {{ ws.title }}
          {% if ws.date %} ({{ ws.date|date:"d.m.Y" }}){% endif %}</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
