*.py[co]
*.db
*.sql
*.gz
*.zip
*.tar
*.log
*.swp
.DS_Store
.project
.settings
.pydevproject
settings_template.py
docs/_build
example_project/example_project/sqlite3.db
example_project/media/
example_project/static/
tests/media/
tests/static/
dist
build
django_public_project.egg-info/
