{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} test | {% trans 'Public Project site admin' %}{% endblock %}


{% block extrastyle %}
<style type="text/css">
.mce-tinymce {
   margin-left:106px !important;
}
</style>
{% endblock %}

{% block extrahead %}
<script src="/static/js/lib/tinymce-4.0.0/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector:'textarea.htmleditor',
    body_id: 'htmleditor_body',
    content_css: '/static/css/tinymce_editor-0.1.0.css',
    width: 570,
    height: 350,
    plugins: "link image code",
    menubar: false,
    toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify blockquote | bullist numlist | link image | code",
    image_list: [
    {% for image in uploaded_images_list %}
      {title: '{{ image.title|escapejs }}', value: '{{ image.image.url }}'},
    {% endfor %}
    ],
  });
</script>

{% endblock %}

{% block branding %}
<h1 id="site-name">
    {% trans 'Public Project administration' %}
    
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
