

<div class="info_box" style="background-color: #f9f9f9;padding: 15px;">
      <div class="info_box_content">
        {% if dd_with_header %}
        <p style="font-size:16px;font-weight: bold;margin-bottom:15px;">
          <i class="icon-inbox"></i> &nbsp;
          <a href="{{ document.get_absolute_url}}" style="color:inherit;">{{ document.title }} &nbsp;
          <i class="icon-arrow-right"></i></a>
        </p>
        {% endif %}
        <p style="font-size:14px;font-weight: bold;">
          {{ document.date }}
        </p>
        <p style="margin: 0 0 15px;">
          {{ document.description }}
        </p>
        
        {% with participant_list=document.participants.all %}
        {% if participant_list %}
          <p style="font-size:12px;margin:0 0 5px;">
            {% for p in participant_list %}
              <i class="{{ p.get_icon_class }}"></i> 
              <a href="{{ p.get_absolute_url}}">{{ p }}</a><br>
            {% endfor %}
          </p>
        {% endif %}
        {% endwith %}
        {% with project_part_list=document.project_parts.all %}
        {% if project_part_list %}
          <p style="font-size:12px;margin:0 0 5px;">
            {% for pp in project_part_list %}
              <i class="icon-cogs"></i> 
              <a href="{{ pp.get_absolute_url}}">{{ pp }}</a><br>
            {% endfor %}
          </p>
        {% endif %}
        {% endwith %}
        {% with event_list=document.events.all %}
        {% if event_list %}
          <p style="font-size:12px;margin:0 0 5px;">
            {% for e in event_list %}
              <i class="icon-time"></i> 
              <a href="{{ e.get_absolute_url}}">{{ e }}</a><br>
            {% endfor %}
          </p>
        {% endif %}
        {% endwith %}
        
      </div>
    
    <div style="margin-top:20px;">
    <a href="/media/{{ document.document }}" target="_blank" class="btn btn-info btn-small" type="button" id="download_button">
      Download ({{ document.document.size|filesizeformat }} | PDF)
    </a>
    </div>
    
    </div>