

<div class="info_box" style="background-color: #f9f9f9;padding: 15px;">
      <div class="info_box_content html_text_with_imgs" style="font-size:12px;">
        {% if dd_with_header %}
        <p style="font-size:16px;font-weight: bold;margin-bottom:15px;">
          <i class="icon-inbox"></i> &nbsp;
          <a href="{{ document.get_absolute_url}}" style="color:inherit;">{{ document.title }} &nbsp;
          <i class="icon-arrow-right"></i></a>
        </p>
        {% endif %}
        <p style="font-size:14px;font-weight: bold;">
          {{ document.date }}
        </p>
        
        {{ document.description|safe }}
        <div style="clear:both;height:1px;"></div>
        
        {% with project_part_list=document.project_parts.all size="small" %}
        {% if project_part_list %}
          <p style="margin: 0 0 5px 0;">
          {% if project_part_list|length <= 4 %}
              {% for pp in project_part_list %}{{ pp.get_simple_entry|safe }}<br>{% endfor %}
          {% else %}
            {% include "layout_elements/menu_project_parts.html" %}
          {% endif %}
          </p>
        {% endif %}
        {% endwith %}
        
        {% with participant_list=document.participants.all size="small" %}
        {% if participant_list %}
          <p style="margin: 0 0 5px 0;">
          {% if participant_list|length <= 4 %}
              {% for p in participant_list %}{{ p.get_simple_entry|safe }}<br>{% endfor %}
          {% else %}
            {% include "layout_elements/menu_participants.html" %}
          {% endif %}
          </p>
        {% endif %}
        {% endwith %}
        
        {% with event_list=document.events.all size="small" %}  
        {% if event_list %}
          <p style="margin: 0 0 5px 0;">
          {% if event_list|length <= 4 %}
              {% for e in event_list %}{{ e.get_simple_entry|safe }}<br>{% endfor %}
          {% else %}
            {% include "layout_elements/menu_events.html" %}
          {% endif %}
          </p>
        {% endif %}
        {% endwith %}
        
      </div>
    
    <div style="margin-top:20px;">
    <a href="/media/{{ document.document }}" target="_blank" class="btn btn-info btn-sm" type="button" id="download_button">
      Download ({{ document.document.size|filesizeformat }} | PDF)
    </a>
    </div>
    
    </div>
