

<div class="info_box" style="background-color: #f9f9f9;padding: 15px;">
      <div class="info_box_content html_text_with_imgs" style="font-size:12px;">
        {% if dd_with_header %}
        <p style="font-size:16px;font-weight: bold;margin-bottom:15px;">
          <i class="icon-inbox"></i> &nbsp;
          <a href="{{ document.get_absolute_url}}" style="color:inherit;">{{ document.title }} &nbsp;
          <i class="icon-arrow-right"></i></a>
        </p>
        {% endif %}
        <p style="font-size:14px;font-weight: bold;">
          {{ document.date }}
        </p>
        
        {{ document.description|safe }}
        <div style="clear:both;height:1px;"></div>
        
        <p>
        {% with project_part_list=document.project_parts.all size="small" %}  
          {% include "layout_elements/menu_project_parts.html" %}
        {% endwith %}
        {% with participant_list=document.participants.all size="small" %}  
          {% include "layout_elements/menu_participants.html" %}
        {% endwith %}
        {% with event_list=document.events.all size="small" %}  
          {% include "layout_elements/menu_events.html" %}
        {% endwith %}
        </p>
        
      </div>
    
    <div style="margin-top:20px;">
    <a href="/media/{{ document.document }}" target="_blank" class="btn btn-info btn-small" type="button" id="download_button">
      Download ({{ document.document.size|filesizeformat }} | PDF)
    </a>
    </div>
    
    </div>
