{% load i18n %}

  <div class="section">
    <div class="info_box">
      <div class="info_box_content">
      {% if document_list %}
        <table class="table table-striped">
          {% for doc in document_list %}
          <tr>
            <td><a href="{{ doc.get_absolute_url }}">{{ doc.title }}</a>
              <br>
              {% if doc.search_tags %}
                {% for tag in doc.search_tags %}
                  <a class="label" href="{{ doc.get_absolute_url }}?q={{ tag|urlencode }}">
                    {{ tag }} <i class="icon-search"></i></a>
                {% endfor %}
                <br>
              {% endif %}
              {{ doc.date|date:"d.m.Y"}}, 
              {{ doc.page_set.count }} {% trans "Pages" %}{% if doc.get_num_active_user_comments %}, 
                <a href="{{ doc.get_comments_url }}">
                {{ doc.get_num_active_user_comments }} {% trans "Comments" %}</a>
              {% endif %}
              
            </td>
          </tr>
          {% endfor %}
        </table>
      {% else %}
        <span style="font-size:12px;">
        {% trans "No documents available." %}
        </span>
      {% endif %}
      </div>
    </div>
  </div>