{% load i18n %}

  <div class="section  events_{{ class_addon }}" id="events_{{ id_addon }}">
  
    <div class="info_box">
      <div class="info_box_content">
        <p>
        {% if event_list %}
          <table class="table">
            {% for event in event_list %}
            <tr class="{% if not event.important %}tr_normal_event{% endif %}">
              <td 
                style="width:72px;text-align:center;">
                {{ event.date|date:"d.m.Y" }}
              </td>
              <td style="text-align: center; width:15px;">
                <i class="{{ event.get_event_type_icon }}"></i>
              </td>
              <td style="text-align: center; width:40px;">
                {% with web_source_list=event.web_sources.all size="mini" %}
                  {% include "layout_elements/menu_web_sources.html" %}
                {% endwith %}
              </td>
              <td>
                <a href="{{ event.get_absolute_url }}">{{ event.title }}</a><br>
                
                {% if event.get_num_active_user_comments %}<br> 
                  <a href="{{ event.get_comments_url }}" style="font-size:11px;">
                    {{ event.get_num_active_user_comments }} {% trans "Comments" %}
                  </a>
                {% endif %}

              </td>
            </tr>
            {% endfor %}
            <tr style="display: none;" class="no_events_tr">
              <td colspan="3">
                {% trans "No events available." %}
              </td>
            </tr>
          </table>
        {% else %}
          <span style="font-size:12px;">
          {% trans "No events available." %}
          </span>
        {% endif %}
        </p>
      </div>
    </div>
  
  </div>