{% load i18n %}


<div class="info_box" style="background-color: #f9f9f9;padding: 15px;">
      <div class="info_box_content html_text_with_imgs" style="font-size:12px;">
        {% if ed_with_header %}
        <p style="font-size:16px;font-weight: bold;margin-bottom:15px;">
          <i class="icon-time"></i> &nbsp;
          <a href="{{ event.get_absolute_url}}" style="color:inherit;">{{ event.title }} &nbsp;
          <i class="icon-arrow-right"></i></a>
        </p>
        {% endif %}
        <p style="font-size:14px;font-weight: bold;">
          {% if event.not_exact %}({% endif %}{{ event.date|date:"d.m.Y" }}{% if event.not_exact %}){% endif %}
        </p>
        {{ event.description|safe }}
        <div style="clear:both;height:1px;"></div>
        
        {% with project_part_list=event.project_parts.all size="small" %}
        {% if project_part_list %}
          <p style="margin: 0 0 5px 0;">
          {% if project_part_list|length <= 4 %}
              {% for pp in project_part_list %}{{ pp.get_simple_entry|safe }}<br>{% endfor %}
          {% else %}
            {% include "layout_elements/menu_project_parts.html" %}
          {% endif %}
          </p>
        {% endif %}
        {% endwith %}
        
        {% with participant_list=event.participants.all size="small" %}
        {% if participant_list %}
          <p style="margin: 0 0 5px 0;">
          {% if participant_list|length <= 4 %}
              {% for p in participant_list %}{{ p.get_simple_entry|safe }}<br>{% endfor %}
          {% else %}
            {% include "layout_elements/menu_participants.html" %}
          {% endif %}
          </p>
        {% endif %}
        {% endwith %}

      </div>
    </div>
