{% load i18n %}

<div style="border: 1px solid #ddd;padding:7px;margin-bottom:5px;" class="type_div {% if not event.important %}tr_normal_event{% endif %}">

  <table style="width:100%;background-color: #f9f9f9;">
    <tr>
      <td style="width:80px;font-size:12px;vertical-align: top;padding: 10px;">
          {{ event.date|date:"d.m.Y" }}
      </td>
      
      <td style="font-size:14px;padding: 10px 10px 0px 10px;">
        <a href="{{ event.get_absolute_url}}">{{ event.title }}</a>
        
        <p>
        {% with size="mini" %}
          {% include "layout_elements/menu_documents.html" %}
        {% endwith %}
        {% with web_source_list=event.web_sources.all size="mini" %}
          {% include "layout_elements/menu_web_sources.html" %}
        {% endwith %}
        {% with project_part_list=event.project_parts.all size="mini" %}  
          {% include "layout_elements/menu_project_parts.html" %}
        {% endwith %}
        {% with participant_list=event.participants.all size="mini" %}  
          {% include "layout_elements/menu_participants.html" %}
        {% endwith %}
        </p>

    </td></tr>
  </table>
</div>