{% load i18n %}

<div class="section" style="border: 1px solid #ddd;padding:10px;margin-bottom:5px;">
    
    <div class="info_box_header">
      <a href="{{ group.get_absolute_url }}">{{ group }} <i class="icon-arrow-right"></i></a>
      {% if group.get_num_active_user_comments %}<br> 
        <a href="{{ group.get_comments_url }}" style="font-size: 12px !important;font-weight: normal;">
          {{ group.get_num_active_user_comments }} {% trans "Comments" %}
        </a>
      {% endif %}
    </div>
    {% if group.to_memberships.count > 0 %}
    <div class="info_box membership">
      {% with membership_list=group.to_memberships.all %}
        {% include "info_box/memberships.html" %}
      {% endwith %}
    </div>
    {% endif %}
</div>