{% load i18n %}

<div class="section" style="border:1px solid #ddd; padding:3px;margin-bottom:7px;">
    
    <div class="info_box_header" style="margin-bottom:0px;">
      
      <table style="width:100%;background-color:#f6f6f6;">
      
      <th>
        <td style="padding:3px;">
      <a href="{{ group.get_absolute_url }}" style="font-weight: normal;">{{ group }}</a>
        </td>
        <td style="padding:3px;width: 151px;display:none;">
        {% with web_source_list=group.web_sources.all size="mini" %}
          {% include "layout_elements/menu_web_sources.html" %}
        {% endwith %}
      </td>
      <td style="width:40px;padding:3px;text-align: right;">
      {% if group.to_memberships.count > 0 %}
        <a href="#" style="font-size:16px;text-decoration: none;" id="og_{{ group.id }}">
          {{ group.to_memberships.count }}
          <i class="icon-circle-arrow-down"></i>
        </a>
      {% endif %}
      </td>
      </th>
      
      {% if group.get_num_active_user_comments %}
      <tr> 
        <td colspan="3">
        <a href="{{ group.get_comments_url }}" style="font-size: 12px !important;font-weight: normal;">
          {{ group.get_num_active_user_comments }} {% trans "Comments" %}
        </a>
        </td>
      </tr>
      {% endif %}
      
      </table>
    </div>
    {% if group.to_memberships.count > 0 %}
    <div class="info_box membership" id="membership_{{ group.id }}" style="display:none;">
      {% with membership_list=group.to_memberships.all %}
        {% include "info_box/memberships.html" %}
      {% endwith %}
    </div>
    {% endif %}

<script>
  $(document).ready(function() {
    
    $('#og_{{ group.id }}').click(function(e) {
      e.preventDefault();
      $('#membership_{{ group.id }}').toggle();
    });  
  });
  
</script>

</div>