<div class="section" style="margin-bottom:10px;">
    
    <div class="info_box_header">
      <table style="width:100%;background-color:#f6f6f6;">
      
      <tr>
        <td style="padding: 3px;width:320px;">
      <a href="{{ main_project_part.get_absolute_url }}" style="font-weight: normal;">{{ main_project_part }}</a>
        </td>
        <td style="padding:3px;">
        {% with web_source_list=main_project_part.web_sources.all size="mini" %}
          {% include "layout_elements/menu_web_sources.html" %}
        {% endwith %}
      </td>
      <td style="padding: 3px;width:40px;text-align: right;">
      {% if main_project_part.projectpart_set.count > 0 %}
        <a href="#" style="font-size:16px;text-decoration: none;" id="ompp_{{ main_project_part.id }}">
          {{ main_project_part.projectpart_set.count }}
          <i class="icon-circle-arrow-down"></i>
        </a>
      {% endif %}
      </td>
      </tr>
      
      </table>
    </div>
    {% if main_project_part.projectpart_set.count > 0 %}
    <div class="info_box main_project_part" id="main_project_part_{{ main_project_part.id }}" style="display: none;">
      {% with project_part_list=main_project_part.projectpart_set.all with_detail_page_url="yes" %}
        {% include "info_box/project_parts.html" %}
      {% endwith %}
    </div>
    {% endif %}
    
<script>
  $(document).ready(function() {
    
    $('#ompp_{{ main_project_part.id }}').click(function(e) {
      e.preventDefault();
      $('#main_project_part_{{ main_project_part.id }}').toggle();
    });  
  });
  
</script>

</div>