{% load i18n %}


    {% if membership_list %}
        <div class="info_box_content">
          <table class="table">
            {% for m in membership_list %}
            <tr>
              <td>
                <a href="{{ m.from_participant.get_absolute_url}}">{{ m.from_participant.name }}</a>
                {% if m.from_participant.get_num_active_user_comments %}<br> 
                  <a href="{{ m.from_participant.get_comments_url }}" style="font-size:11px;">
                    {{ m.from_participant.get_num_active_user_comments }} {% trans "Comments" %}
                  </a>
                {% endif %}
              </td>
              <td style="width:135px;text-align:right;">{{ m.function }} {% if not m.active %}({% trans "former" %}){% endif %}</td>
            </tr>
            {% endfor %}
          </table>    
        </div>
      {% else %}
        <span style="font-size:12px;">
        {% trans "No participants available." %}
        </span>
      {% endif %}
    
