


<div class="info_box" style="background-color: #f9f9f9;padding: 15px;">
      <div class="info_box_content html_text_with_imgs">
        <p style="margin: 0 0 10px;">
          {{ site_category.intro_text|safe }}
          <div style="clear:both;height:1px;"></div>
        </p>
        
        <p>
        {% with document_list=site_category.documents.all size="small" %}
          {% include "layout_elements/menu_documents.html" %}
        {% endwith %}
        {% with web_source_list=site_category.web_sources.all size="small" %}
          {% include "layout_elements/menu_web_sources.html" %}
        {% endwith %}
        </p>
      </div>
    </div>
