{% extends 'base.html' %}
{% load i18n %}

{% block title %} - {% trans "Documents" %}{% endblock %}

{% block rss_url %}
<link rel="alternate" type="application/rss+xml"
   title="RSS" href="{{ request.get_full_path}}rss/" />
{% endblock %}

{% block content %}

{% trans "Documents" as ch_title %}
{% with ch_icon="icon-inbox" ch_title=ch_title ch_bc1=ch_title %}
{% include "layout_elements/category_header.html" %}
{% endwith %}

</div>

<div class="row">

<div class="col-md-6">
  <div class="section">
    {% include "info_box/site_category_detail.html" %}
  </div>
  
  {% include "layout_elements/ec_button_group.html" %}
  
  {% for mpp in main_project_part_list_left %}
    {% with ec_title=mpp ec_id=mpp.id ec_url="" ec_count=mpp.get_num_documents document_list=mpp.get_documents ec_box_include="info_box/documents.html" %}
      {% include "layout_elements/ec_header_box.html" %}
    {% endwith %}
  {% endfor %}
  
</div>

<div class="col-md-6">
  
  {% if latest_document_list %}
    {% trans "New Documents" as sh_title %}
    {% with sh_title=sh_title rss_url="rss/" %}
      {% include "layout_elements/section_header.html" %}
    {% endwith %}
    
    <div class="section">
      {% with dd_with_header="yes" %}
      {% for document in latest_document_list %}
        <div style="border: 1px solid #ddd;padding:10px;margin-bottom:5px;">
        {% include "info_box/document_detail.html" %}
        </div>
      {% endfor %}
      {% endwith %}
    </div>
  {% endif %}
  
  {% for mpp in main_project_part_list_right %}
    {% with ec_title=mpp ec_id=mpp.id ec_url="" ec_count=mpp.get_num_documents document_list=mpp.get_documents ec_box_include="info_box/documents.html" %}
      {% include "layout_elements/ec_header_box.html" %}
    {% endwith %}
  {% endfor %}
</div>

{% endblock %}
















