{% extends 'base.html' %}
{% load i18n %}

{% block title %} - {% trans "Project" %}{% endblock %}

{% block rss_url %}
<link rel="alternate" type="application/rss+xml"
   title="RSS" href="{{ request.get_full_path}}rss/" />
{% endblock %}

{% block content %}


{% trans "Project" as ch_title %}
{% with ch_icon="icon-cogs" ch_title=ch_title ch_bc1=ch_title %}
{% include "layout_elements/category_header.html" %}
{% endwith %}

</div>

<div class="row">

<div class="span6">
  
  <div class="section">
  {% with ib_content=project.desc_project %}
  {% include "info_box/generic.html"%}
  {% endwith %}
  </div>

  {% with web_source_list=project.web_sources.all %}
    {% include "info_box/web_sources.html" %}
  {% endwith %}
  
  {% for main_project_part in main_project_part_list_left %}
    {% include "info_box/main_project_part.html" %}
  {% endfor %}
  
</div>

<div class="span6">

  {% for main_project_part in main_project_part_list_right %}
    {% include "info_box/main_project_part.html" %}
  {% endfor %}
  
</div>

{% endblock %}















