{% extends 'base.html' %}
{% load i18n %}

{% block title %} - {% trans "Topics" %}{% endblock %}

{% block rss_url %}
<link rel="alternate" type="application/rss+xml"
   title="RSS" href="{{ request.get_full_path}}rss/" />
{% endblock %}

{% block content %}


{% trans "Topics" as ch_title %}
{% with ch_icon="icon-cogs" ch_title=ch_title ch_bc1=ch_title %}
{% include "layout_elements/category_header.html" %}
{% endwith %}

</div>

<div class="row">

<div class="span6">
  
  <div class="section">
  {% with ib_content=project.desc_project %}
  {% include "info_box/generic.html"%}
  {% endwith %}
  </div>

  {% with web_source_list=project.web_sources.all %}
    {% include "info_box/web_sources.html" %}
  {% endwith %}
  
  {% for main_project_part in main_project_part_list_left %}
    {% include "info_box/main_project_part.html" %}
  {% endfor %}
  
</div>

<div class="span6">
  
  {% trans "New Topics" as sh_title %}
  {% with sh_title=sh_title rss_url="rss/" %}
    {% include "layout_elements/section_header.html" %}
  {% endwith %}
  
  <div class="section">
    {% with ppd_with_header="yes" %}
    {% for project_part in latest_project_part_list %}
      <div style="border: 1px solid #ddd;padding:10px;margin-bottom:5px;">
      {% include "info_box/project_part_detail.html" %}
      </div>
    {% endfor %}
    {% endwith %}
  </div>
  
  {% for main_project_part in main_project_part_list_right %}
    {% include "info_box/main_project_part.html" %}
  {% endfor %}
  
</div>

{% endblock %}















